<div class="row article-entete">
    <div class="col-sm-12">
        <p class="titre-page"><i class="fa fa-search fa-lg"></i> (mot clé) dans Article </p>
    </div>
</div>

<!-- affiche ui card -->
<div class="row">
    <div class="col-sm-3">
        <div class="ui-card">
            <div class="ui-enrobe-image">
                 <a href="#!/articles/film/matrix" class="ui-href">
                    <img class="ui-image" src="images/maxresdefault.jpg">
                </a>
            </div>
            <div class="ui-categorie">
                <i class="fa fa-fw fa-x3 fa-film"></i>
            </div>
            <div class="ui-text">
                <div class="ui-titre">
                    <a href="#!/articles/film/matrix">Matrix</a>
                </div>
                <!--<div class="ui-description">
                    <span>Matrix est le premier volet de la trilogie Matrix qui se poursuivra avec les films Matrix Reloaded et Matrix Revolutions</span>
                </div>-->
                <div class="ui-info">
                    <span>catégorie : Film</span>
                </div>
            </div>
        </div>
    </div>
</div>